body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
    margin:0px;
    background-color: rgb(224, 144, 24);
}


.header,
.footer{
    background-color: rgb(143, 94, 45);
}

.header{
    height: 80px;
    font-size:xx-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-grow:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc{
    background-color: grey;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    border-radius: 10px;
    border: 10px solid silver;
}

.textContainer{
    background-color: rgb(3, 3, 3);
    width: 380px;
    height: 80px;
    margin: 20px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:5px;
}

.field{
    color:white;  
    font-family: 'Segment7Standard', sans-serif;
    padding: 0px 10px;
}

.output{
    font-weight: lighter;
    font-size: 20px;
}

.input{
    font-weight: 700;  
    font-size: 40px;
    text-align: right;
}

.buttons{
    width:380px;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:5px;
    column-gap: 10px;
    padding-bottom: 10px;
}

.button{
    box-sizing: border-box;
    height: 55px;
    width: 80px;
}

.button.long{
    width: 170px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 30px;
}

